# OpenWeather API Key
OPENWEATHER_API_KEY=your_openweather_api_key_here

# Google Places API Key
PLACES_API_KEY=your_google_places_api_key_here

# City Image API Key
CITY_IMAGE_API_KEY=your_city_image_api_key_here

# Remove.bg API Key
REMOVEBG_API_KEY=your_removebg_api_key_here
